<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Ahmet Zafer Demir">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/table.css">

    <title>Tarla Yönetimi Portalı</title>
</head>

<body>

    <div class="container">
        <%- include('../components/UserNavbar.ejs') %>

            <article class="icerik" id="urun-toprak-sayfasi-icerik">

                <h1>Ürün Bilgileri</h1>

                <div class="urunbilgileri">
                    <div class="urunfoto">
                        <img src="/static/images/bugday.jpg" id="urun">
                    </div>
                    <div id="urunaciklama">
                        Buğday bütün dünyada ıslahı yapılmış tek yıllık otsu bir bitkidir.
                        Karasal iklimi tercih eder. Mısır ile birlikte dünya çapında ikinci
                        en fazla ekimi yapılan tahıldır. Bunları pirinç takip eder. Buğday;
                        un, yem üretilmesinde kullanılan temel bir besin maddesidir. Kabuğu
                        ayrılabileceği gibi kabuğu ile de öğütülebilir. Buğday aynı zamanda
                        çiftlik hayvanları için bir yem maddesi olarak da yetiştirilmekdedir.
                        Hasattan sonra atık ürün olarak saman balyası çıkar.
                    </div>
                </div>
                <div id="urunbutonlar">
                    <button class="urunbuton" id="urunDegistirButon1">Buğday(1)</button>
                    <button class="urunbuton" id="urunDegistirButon2">Arpa(2)</button>
                    <button class="urunbuton" id="urunDegistirButon3">Domates(3)</button>
                </div>


                <script>
                    const urunler = [
                        {
                            img: "/static/images/bugday.jpg",
                            aciklama: "Buğday bütün dünyada ıslahı yapılmış tek yıllık otsu bir bitkidir.Karasal iklimi tercih eder. Mısır ile birlikte dünya çapında ikinci en fazla ekimi yapılan tahıldır. Bunları pirinç takip eder. Buğday; un, yem üretilmesinde kullanılan temel bir besin maddesidir. Kabuğu ayrılabileceği gibi kabuğu ile de öğütülebilir. Buğday aynı zamanda çiftlik hayvanları için bir yem maddesi olarak da yetiştirilmekdedir. Hasattan sonra atık ürün olarak saman balyası çıkar. "
                        },
                        {
                            img: "/static/images/arpa.jpg",
                            aciklama: "Buğdaygiller familyasından bir bitki cinsidir. Arpa cinsinden olan türlerin uzunluğu çeşitli olmakla birlikte buğday ve çavdardan daha kısadır. Kulakçıkları birbirinin üzerine kavuşacak kadar uzundur.Arpa tanelerinin proteini ve yağı azdır, hazmı kolaydır. Memleketimizde “Kara arpa” ve “beyaz arpa” diye anılan iki cins arpanın unu birçok yerlerde ekmek hamuruna katılır."
                        },
                        {
                            img: "/static/images/domates.jpg",
                            aciklama: "Domates bitkisi ikiçenekli ve otsu bir bitkidir. Bitki, 2 metre derinliğe kadar ulaşabilen bir kazık kök sistemi oluşturur. Bitki salkımlar halinde meyve üretir.Yabani domates çeşitleri küçük ve kırmızı rengin aksine, bu çeşitlerin rengi sarıdır. Bugün cherry domates olarak bilinen domatesin benzeri olduklarını söyleyebiliriz. Günümüzde, farklı boyutların ve bilinen kırmızı rengin yanı sıra pembe, sarı, turuncu, mor, beyaz ve siyah renge değişen farklı renklerde domates bulmak mümkündür."
                        }
                    ]

                    var urunfoto = document.getElementById('urun')
                    var urunaciklama = document.getElementById('urunaciklama')
                    var urunbuton1 = document.getElementById('urunDegistirButon1')
                    var urunbuton2 = document.getElementById('urunDegistirButon2')
                    var urunbuton3 = document.getElementById('urunDegistirButon3')

                    urunfoto.setAttribute("src", urunler[0].img)
                    urunaciklama.textContent = urunler[0].aciklama

                    urunbuton1.addEventListener('click', function () {
                        urunfoto.setAttribute("src", urunler[0].img)
                        urunaciklama.textContent = urunler[0].aciklama
                    })

                    urunbuton2.addEventListener('click', function () {
                        urunfoto.setAttribute("src", urunler[1].img)
                        urunaciklama.textContent = urunler[1].aciklama
                    })

                    urunbuton3.addEventListener('click', function () {
                        urunfoto.setAttribute("src", urunler[2].img)
                        urunaciklama.textContent = urunler[2].aciklama
                    })


                </script>


                <h1 style="margin-top:35px">Toprak Tipleri</h2>

                    <div class="topraktipibilgileri">
                        <div class="toprakfoto">
                            <img src="/static/images/kahverengitoprak.jpg" id="topraktipi">
                        </div>
                        <div id="topraktipiaciklama">
                            Kahverengi orman toprakları, ılıman iklim bölgelerinde kışın yaprağını döken geniş
                            yapraklı ormanlar altında gelişir. İklim, bitki örtüsü ve yerli kaya etkisi altında
                            oluşmuştur. Orman altında oluştuğu için organik madde (humus) açısından zengindir,
                            genellikle rengi koyudur. Kahverengi orman toprakları eğimli yerlerde gelişen genç
                            topraklardır. Toprağın yıkanmadan dolayı ph değerinin düşük nötr özellikte olması
                            bitkilerin besin maddelerini almasını kolaylaştırır. Su tutma kapasitesi yüksek olan
                            topraklarda, yağıştan dolayı toprak suyu da boldur.
                        </div>
                    </div>
                    <div id="topraktipibutonlar">
                        <button class="topraktipibuton" id="toprakTipiDegistirButon1">Kahverengi(1)</button>
                        <button class="topraktipibuton" id="toprakTipiDegistirButon2">Çernezyom(2)</button>
                        <button class="topraktipibuton" id="toprakTipiDegistirButon3">Kestane Renkli(3)</button>
                        <button class="topraktipibuton" id="toprakTipiDegistirButon4">Taşlı(4)</button>
                    </div>


                    <script>
                        const toprakTipleri = [
                            {
                                img: "/static/images/kahverengitoprak.jpg",
                                aciklama: "Kahverengi orman toprakları, ılıman iklim bölgelerinde kışın yaprağını döken geniş yapraklı ormanlar altında gelişir. Organik madde (humus) açısından zengindir, genellikle rengi koyudur. Kahverengi orman toprakları eğimli yerlerde gelişen genç topraklardır. Toprağın yıkanmadan dolayı ph değerinin düşük nötr özellikte olması bitkilerin besin maddelerini almasını kolaylaştırır. Su tutma kapasitesi yüksek olan topraklarda, yağıştan dolayı toprak suyu da boldur. "
                            },
                            {
                                img: "/static/images/çernezyomtoprak.jpg",
                                aciklama: "Yeryüzünün en verimli yerli toprağıdır. Dünyada bulunan Çernezyomun üçte biri ve yüz ölçümü en fazla olan ülke Ukrayna’dır. Coğrafi olarak yarı nemli step bölgelerinde yağışın artış gösterdiği yüksek platolarda görülen topraklardır. Humusça varsıl olan koyu renkli topraklardır. Bu yüzden Çernezyomlar, oldukça verimli topraklardır. Bu nedenle kara topraklar olarak da bilinir. Tarım için çok elverişlidirler. Çok yüksek oranda (%3-%15) humus, yine yüksek oranlarda fosforik asit,fosfor ile Amonyak içerir."
                            },
                            {
                                img: "/static/images/kestanerenklitoprak.jpg",
                                aciklama: "Orta kuşakta, karalarının iç bölgelerinde, karasal iklim ve bozkır bitki örtüsü altında gelişen toprak türü. Bu toprakların görüldüğü alanlarda yıllık sıcaklık ortalaması 8-10 °C, yıllık yağış 400 mm'nin altındadır. Doğal bitki örtüsü bozkırdır. İç Anadolu bölgesinde geniş alanlarda ve Doğu Anadolu Bölgesi'nin alçak alanlarında görülür. Yağış yetersiz olduğundan toprakta yıkanma yoktur, kireç topraktan uzaklaşmamış, alt katmanlarda birikmiştir. Organik madde (Humus) yönünden fazla zengin değildir. Bu topraklar üzerinde yaygın olarak tahıl tarımı ve küçük baş hayvancılık yapılır."
                            },
                            {
                                img: "/static/images/taşlıtoprak.jpg",
                                aciklama: "İçeriği % 80 taş ve az miktarda topraktan oluşur. Kolay havalanırlar. Fakat su tutma kapasiteleri ve besin ihtiyaçları azdır. Verimsizdirler. Bu yüzden tarımda pek tercih edilmezler."
                            }
                        ]





                        var topraktipifoto = document.getElementById('topraktipi')
                        var topraktipiaciklama = document.getElementById('topraktipiaciklama')
                        var topraktipibuton1 = document.getElementById('toprakTipiDegistirButon1')
                        var topraktipibuton2 = document.getElementById('toprakTipiDegistirButon2')
                        var topraktipibuton3 = document.getElementById('toprakTipiDegistirButon3')
                        var topraktipibuton4 = document.getElementById('toprakTipiDegistirButon4')

                        topraktipifoto.setAttribute("src", toprakTipleri[0].img)
                        topraktipiaciklama.textContent = toprakTipleri[0].aciklama

                        topraktipibuton1.addEventListener('click', function () {
                            topraktipifoto.setAttribute("src", toprakTipleri[0].img)
                            topraktipiaciklama.textContent = toprakTipleri[0].aciklama
                        })

                        topraktipibuton2.addEventListener('click', function () {
                            topraktipifoto.setAttribute("src", toprakTipleri[1].img)
                            topraktipiaciklama.textContent = toprakTipleri[1].aciklama
                        })

                        topraktipibuton3.addEventListener('click', function () {
                            topraktipifoto.setAttribute("src", toprakTipleri[2].img)
                            topraktipiaciklama.textContent = toprakTipleri[2].aciklama
                        })

                        topraktipibuton4.addEventListener('click', function () {
                            topraktipifoto.setAttribute("src", toprakTipleri[3].img)
                            topraktipiaciklama.textContent = toprakTipleri[3].aciklama
                        })


                    </script>


            </article>

    </div>

</body>

</html>