<nav>
    <div class="profil">
        <div class="profil-resmi">
            <img src="/static/images/ben.jpg" alt="Ahmet Zafer Demir" title="Ahmet Zafer Demir">
            <span>
                <%= user.username %>
            </span>
        </div>
    </div>

    <div class="linkler">
        <ul>
            <li><a href="iklim_hava_kosullari">İklim / Hava Koşulları</a></li>
            <li><a href="urun_toprak_bilgileri">Ürün / Toprak Tipi Bilgileri</a></li>
            <li><a href="grafikler">Grafikler</a></li>
            <li><a href="uretim_satis_verileri">Üretim / Satış Verileri</a></li>
            <li><a href="veri_girisi">Veri Girişi</a></li>
        </ul>
    </div>
</nav>